# Python :
- Python is a simple, interpreted, interactive, object oriented, open source and high level programming language.

### Features :

##### Simple/General Purpose : 
- It's so easy to learn B'coz the syntax is similar to the english language and 
- Python syntax, allow developer to write program with fewer lines as compair to other programming language. 

##### Free and Open Source :
- Freely available at the official website.
- Open source, means source code is available to the public. So we can download it, use it as well as share it.

##### GUI(Graphical User Interface) Programmimg Support :
- GUI can be made using a module such as PyQt5, PyQt4, wxPython or TK in python.
- PyQt5 is the most common option for creating graphical apps with python.

##### Large Standard Library :
- Python has large standard library which provides a rich set set of module and function
- Example : regular expressions, uni testing, web browsers etc.

##### Expressive Language :
- Single line of python code can do more than a single line of code in other language.
- The fewer line of code, faster we can complete our project, easier to maintain and debug.

##### Object Oriented Language :
- Python support OOL and concepts of classes, object and encapsulation etc.

### Python Application :

##### Web development :
- Python can used to make web application using frame work like Django, Flask, Pyramid.

##### Desktop GUI :
- We use python to program desktop application example calculator.

##### Business Application :

##### Console Based Application :

##### Software development :

##### Scientific and Numeric :

##### Audio and Video Application :

##### 3D CAD Application :

##### Game Development :

##### Machine Learning and Artificial Intelligence :

# Module:
- A module is a file containing code 
- can be imported and used in our programs

### Types of Module:

##### Build in module: 
- Pre installed in python 
- e.g. os,abc etc.

##### External nodule:
- Need to install using pip
- e.g. Flask, Tensorflow etc.

# pip:
- pip is the package manager for python
- used for intallation of a module on our system

# Comments: 
- Comments are used to write something which the programmer doesn't want to execute.

### Type of Comments:

##### Single Line:
- Written using #

##### Multi Line:
- Written using ''' comment '''

### Variable: 
- A Variable is the name given to a memory location in a program.
- Variable is a container to store a value
- e.g. a=30, b='Harry', c=71.2, d='''my name is xyz'''

### Data Types:
- Primarly there are following data types in python

##### integers:
- e.g. 1, 2, -1, -3

##### float:
- e.g. 1.5, 0.5, -1.5

##### string:
- e.g. 'abc', "Ram", '''vishal'''

##### boolean:
- e.g. True, False

##### none:
- nothing, than we use None

### Identifiers:
- The identifier is a name used to identify a variable, function, class, module, etc. 
- The identifier is a combination of character digits and underscore. 
- The identifier should start with a character or Underscore then use a digit. 
- The characters are A-Z or a-z, an UnderScore ( _ ) , and digit (0-9). 
- we should not use special characters(#,@,%,!) in identifiers.
- Examples of valid identifiers : var1, _var1, _1_var, var_1
- Examples of invalid identifiers : !var1, 1var, 1_var, var#1

### Rule's to define varibles: 
- Can contian alphabets(ex: one, name), digits(ex: 2,3,4), underscores(ex: _)
- Can only start with an alphabets(ex: firstName) and underscores(ex: _firstName)
- Can't start with digit(ex: 1stname)
- No whitespace is allowed to be used inside a varible name(ex: one 2)

### Keyword: 
- Reserved word in python

       S.N.   Keyword	  Description
        01.   and	      A logical operator
        02.   as	      To create an alias
        03.   assert	  For debugging
        04.   break	      To break out of a loop
        05.   class	      To define a class
        06.   continue	  To continue to the next iteration of a loop
        07.   def	      To define a function
        08.   del	      To delete an object
        09.   elif	      Used in conditional statements, same as else if
        10.   else	      Used in conditional statements
        11.   except      Used with exceptions, what to do when an exception occurs
        12.   False	      Boolean value, result of comparison operations
        13.   finally	  Used with exceptions, a block of code that will be executed no matter if there is an exception or not
        14.   for	      To create a for loop
        15.   from	      To import specific parts of a module
        16.   global	  To declare a global variable
        17.   if	      To make a conditional statement
        18.   import   	  To import a module
        19.   in	      To check if a value is present in a list, tuple, etc.
        20.   is	      To test if two variables are equal
        21.   lambda  	  To create an anonymous function
        22.   None	      Represents a null value
        23.   nonlocal	  To declare a non-local variable
        24.   not	      A logical operator
        25.   or	      A logical operator
        26.   pass	      A null statement, a statement that will do nothing
        27.   raise	      To raise an exception
        28.   return	  To exit a function and return a value
        29.   True	      Boolean value, result of comparison operations
        30.   try	      To make a try...except statement
        31.   while	      To create a while loop
        32.   with	      Used to simplify exception handling
        33.   yield	      To end a function, returns a generator

### Operators:
- Following are some common operators in python

#### Arithmetic Operator:
- "+","-","*","/", etc.

#### Assignment Operator:
- "=","+=","-=","*=", etc.

#### Comparison Operator:
- "==",">=",">","!=", etc.

#### Logical Operator:
- "and", "or", "not"

### Type() and Type Casting:
- type() is used to find the data type of a variable
- ex: a = 30 and type(a) = int
- type casting is method which convert varible from one type to other type
- ex: a = 30, float(a) = 30.0

### input():
- Allow user to take input as string
- ex: name = input("enter name")

### String: 
- Data type in python
- Sequence of character enclosed in quotes(single quote-> 'a', Double quote-> "a", Triple quote-> '''a''')

#### String Slicing:
- name = 'MSDhoni'
- name[0:3] = 'MSD'
- name[1:6:2] = 'Shn'
- name[:7] = 'MSDhoni'
- name[0:] = 'MSDhoni'
- name[:] = 'MSDhoni'

#### String Method:

    S.N.          Method	Description
     01.     capitalize()	Converts the first character to upper case
     02.       casefold()	Converts string into lower case
     03.         center()	Returns a centered string
     04.          count()	Returns the number of times a specified value occurs in a string
     05.         encode()	Returns an encoded version of the string
     06.       endswith()	Returns true if the string ends with the specified value
     07.     expandtabs()	Sets the tab size of the string
     08.           find()	Searches the string for a specified value and returns the position of where it was found
     09.         format()	Formats specified values in a string
     10.     format_map()	Formats specified values in a string
     11.          index()	Searches the string for a specified value and returns the position of where it was found
     12.        isalnum()	Returns True if all characters in the string are alphanumeric
     13.        isalpha()	Returns True if all characters in the string are in the alphabet
     14.        isascii()	Returns True if all characters in the string are ascii characters
     15.      isdecimal()	Returns True if all characters in the string are decimals
     16.        isdigit()	Returns True if all characters in the string are digits
     17.   isidentifier()	Returns True if the string is an identifier
     18.        islower()	Returns True if all characters in the string are lower case
     19.      isnumeric()	Returns True if all characters in the string are numeric
     20.    isprintable()	Returns True if all characters in the string are printable
     21.        isspace()	Returns True if all characters in the string are whitespaces
     22.        istitle()	Returns True if the string follows the rules of a title
     23.        isupper()	Returns True if all characters in the string are upper case
     24.           join()	Converts the elements of an iterable into a string
     25.          ljust()	Returns a left justified version of the string
     26.          lower()	Converts a string into lower case
     27.         lstrip()	Returns a left trim version of the string
     28.      maketrans()	Returns a translation table to be used in translations
     29.      partition()	Returns a tuple where the string is parted into three parts
     30.        replace()	Returns a string where a specified value is replaced with a specified value
     31.          rfind()	Searches the string for a specified value and returns the last position of where it was found
     32.         rindex()	Searches the string for a specified value and returns the last position of where it was found
     33.          rjust()	Returns a right justified version of the string
     34.     rpartition()	Returns a tuple where the string is parted into three parts
     35.         rsplit()	Splits the string at the specified separator, and returns a list
     36.         rstrip()	Returns a right trim version of the string
     37.          split()	Splits the string at the specified separator, and returns a list
     38.     splitlines()	Splits the string at line breaks and returns a list
     39.     startswith()	Returns true if the string starts with the specified value
     40.          strip()	Returns a trimmed version of the string
     41.       swapcase()	Swaps cases, lower case becomes upper case and vice versa
     42.          title()	Converts the first character of each word to upper case
     43.      translate()	Returns a translated string
     44.          upper()	Converts a string into upper case
     45.          zfill()	Fills the string with a specified number of 0 values at the beginning.

In [75]:
txt = "hello, and Welcome12 to my world."
txt.capitalize() # Converts the first character to upper case

'Hello, and welcome12 to my world.'

In [65]:
txt.casefold() # Converts string into lower case

'hello, and welcome 12 to my world.'

In [66]:
txt.center(80) # Returns a centered string

'                       hello, and Welcome 12 to my world.                       '

In [67]:
txt.count('o') # Returns the number of times a specified value occurs in a string

4

In [68]:
txt.encode() # Returns an encoded version of the string

b'hello, and Welcome 12 to my world.'

In [69]:
txt.endswith('.') # Returns true if the string ends with the specified value

True

In [70]:
x = "H\te\tl\tl\to"
x.expandtabs(2) # Sets the tab size of the string

'H e l l o'

In [71]:
txt.find('and') # Searches the string for a specified value and returns the position of where it was found

7

In [72]:
t = "For only {price:.2f} dollars!"
t.format(price = 49) # Formats specified values in a string

'For only 49.00 dollars!'

In [73]:
txt.index('a') # Searches the string for a specified value and returns the position of where it was found

7

In [78]:
t = 'company12'
t.isalnum() # Returns True if all characters in the string are alphanumeric

True

In [80]:
xt = 'companyX'
xt.isalpha() # Returns True if all characters in the string are in the alphabet

True

In [81]:
t.isascii() # Returns True if all characters in the string are ascii characters

True

In [83]:
x = '123'
x.isdecimal()# Returns True if all characters in the string are decimals

True

In [84]:
x.isdigit() # Returns True if all characters in the string are digits

True

In [85]:
tx = 'Demo'
tx.isidentifier() # Returns True if the string is an identifier

True

In [86]:
t = 'ab cd'
t.islower() # Returns True if all characters in the string are lower case

True

In [88]:
tx = '2345'
tx.isnumeric() # Returns True if all characters in the string are numeric

True

In [89]:
txt.isprintable() # Returns True if all characters in the string are printable

True

In [91]:
txt = '   '
txt.isspace() # Returns True if all characters in the string are whitespaces

True

In [102]:
txt = ' Hello, And Welcome To My World. '
txt.istitle() # Returns True if the string follows the rules of a title

True

In [103]:
t = 'AB CD'
t.isupper() # Returns True if all characters in the string are upper case

True

In [104]:
"a ".join(t) # Converts the elements of an iterable into a string

'Aa Ba  a Ca D'

In [105]:
x = "banana"
print(x.ljust(20), ": my favorite fruit.") # Returns a left justified version of the string

banana               : my favorite fruit.

In [106]:
txt.lower() # Converts a string into lower case

' hello, and welcome to my world. '

In [107]:
txt.lstrip() # Returns a left trim version of the string

'Hello, And Welcome To My World. '

In [109]:
mytable = "Hello Sam!"
print(mytable.translate(str.maketrans("S", "P"))) # Returns a translation table to be used in translations

Hello Pam!

In [111]:
txt.partition("And") # Returns a tuple where the string is parted into three parts

(' Hello, ', 'And', ' Welcome To My World. ')

In [112]:
txt.replace('And', 'and') # Returns a string where a specified value is replaced with a specified value

' Hello, and Welcome To My World. '

In [113]:
txt.rfind("And") # Searches the string for a specified value and returns the last position of where it was found

8

In [115]:
txt.rindex("And") # Searches the string for a specified value and returns the last position of where it was found

8

In [119]:
t = "banana"
print(t.rjust(10)) # Returns a right justified version of the string

    banana

In [120]:
txt.rpartition('Welcome') # Returns a tuple where the string is parted into three parts

(' Hello, And ', 'Welcome', ' To My World. ')

In [121]:
txt.rsplit() # Splits the string at the specified separator, and returns a list

['Hello,', 'And', 'Welcome', 'To', 'My', 'World.']

In [122]:
txt.rstrip() # Returns a right trim version of the string

' Hello, And Welcome To My World.'

In [123]:
txt.split() # Splits the string at the specified separator, and returns a list

['Hello,', 'And', 'Welcome', 'To', 'My', 'World.']

In [124]:
txt.splitlines() # Splits the string at line breaks and returns a list

[' Hello, And Welcome To My World. ']

In [127]:
txt.startswith(' Hello') # Returns true if the string starts with the specified value

True

In [128]:
txt.strip() # Returns a trimmed version of the string

'Hello, And Welcome To My World.'

In [129]:
txt.swapcase() # Swaps cases, lower case becomes upper case and vice versa

' hELLO, aND wELCOME tO mY wORLD. '

In [130]:
txt.title() # Converts the first character of each word to upper case

' Hello, And Welcome To My World. '

In [133]:
mydict = {83:  80} # #use a dictionary with ascii codes to replace 83 (S) with 80 (P):
txt = "Hello Sam!"
print(txt.translate(mydict)) # Returns a translated string

Hello Pam!

In [134]:
txt.upper() # Converts a string into upper case

'HELLO SAM!'

In [137]:
txt = '50'
txt.zfill(10) # Fills the string with a specified number of 0 values at the beginning

'0000000050'