### While Loop : 
 With the while loop we can execute a set of statements as long as a condition is true.

In [36]:
i=1
while i <=10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [37]:
i = 1
n = 2
while i <=  10:
    print(n , " * ", i, " = ",i * n)
    i = i+1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [38]:
# while with list
l1 = [1,2,3,4,5]
i=0
while i<len(l1):
    l1[i]=l1[i]+100
    i = i+1
l1

[101, 102, 103, 104, 105]

In [39]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i = i+ 1

1
2
3

In [40]:
i = 0
while i < 6:
    i = i + 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [41]:
i = 1
while i < 6:
    print(i)
    i = i + 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [43]:
# prints all letters except 'a' and 't'   
i = 0  
str1 = 'javatpoint'  
  
while i < len(str1):   
    if str1[i] == 'a' or str1[i] == 't':   
        i += 1  
        continue  
    print('Current Letter :', str1[i])   
    i += 1

Current Letter : j
Current Letter : v
Current Letter : p
Current Letter : o
Current Letter : i
Current Letter : n

### For Loop
 A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

In [1]:
str = "Python"  
for i in str:  
    print(i)

P
y
t
h
o
n

In [2]:
lit = [0,1,2,3,4,5,6,7,8,9]
n=5
for i in lit:
    c= n*i
    print(c)

0
5
10
15
20
25
30
35
40
45

In [3]:
list = [10,30,23,43,65,12] 
sum = 0
for i in list:
    sum=sum+i
print(sum)

183

In [4]:
l1 = ['mango','apple','grapes','orange']
for i in l1:
    print(i)

mango
apple
grapes
orange

In [5]:
l1 = ['orange','black','white']
l2 = ['chair','book','laptop']
for i in l1:
    for j in l2:
        print(i,j)

orange chair
orange book
orange laptop
black chair
black book
black laptop
white chair
white book
white laptop

The range() function : used to generate the sequence of the numbers. 
                       If we pass the range(10), it will generate the numbers from 0 to 9.  
                       The syntax of the range() function is given below.
                       range(start,stop,step size)  

The len() function is combined with range() function which iterate through a sequence using indexing

In [17]:
for i in range(10):  
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [9]:
n = 5
for i in range(10):
    product = n*i
    print(n,"x",i,"=",product)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [10]:
n = 5
for i in range(1,11):
    product = n*i
    print(n,"x",i,"=",product)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
n = 5
for i in range(1,51,5):
    product = n*i
    print(n,"x",i,"=",product)

5 x 1 = 5
5 x 6 = 30
5 x 11 = 55
5 x 16 = 80
5 x 21 = 105
5 x 26 = 130
5 x 31 = 155
5 x 36 = 180
5 x 41 = 205
5 x 46 = 230

In [16]:
l1 = ['orange','black','white']
for i in range(len(l1)):
    print("Colour",i,":",l1[i])

Colour 0 : orange
Colour 1 : black
Colour 2 : white

In [18]:
#pattern
row = int(input("Enter No of Rows"))

for i in range(0,row+1):
    for j in range(i):
        print("*",end="")
    print()

Enter No of Rows5

*
**
***
****
*****

In [35]:
row = int(input("enter no of rows"))
for i in range(0,row+1):
    for j in range(i):
        print(i, end="")
    print()

enter no of rows6

1
22
333
4444
55555
666666